@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <img src="~/images/Fundo_Escuro.jpg" alt="Imagem de boas-vindas" class="img-fluid mx-auto d-block" />
</div>
